<section class="container">
    <article >
        <div class="col-md-4  mx-auto card my-4" style="background:rgba(134, 132, 245, 0.424);margin-top: 2%;color:rgb(2, 1, 24)">
            <h3 class="text-uppercase text-center font-weight-bold"><u> login</u></h3>
        <form action="/auth/login" method="POST">
      
           <div class="form-group" >
                <label for="email" >Email</label>
                <input type="email"  name="email" required class="form-control" id="email" placeholder="Enter Email">
            </div>
            <div class="form-group" >
                <label for="password" >Password</label>
                <input type="password" name="password" required class="form-control" id="password" placeholder="Enter Password">
            </div class="form-group">
            <div><button class="btn btn-primary btn-block" >Login</button></div>
      </div>
               
           
        </form>
    </article>
</section>